BINTRAY_APIKEY =
TEST_URL_APP = http://apps.itgolo.pl/test/updategradle
TEST_REMOTE_DIR_APP = /
TEST_FTP_HOST =
TEST_FTP_PORT = 21
TEST_FTP_USER =
TEST_FTP_PASSWORD =
APP_URL_DIR = http://apps.itgolo.pl/updategradle
APP_FTP_DIR = /
APP_FTP_HOST =
APP_FTP_PORT = 21
APP_FTP_USER =
APP_FTP_PASSWORD =